@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.navigation{
    background-color: #fff;
    position: sticky;
    top:0;
    font-family: 'Josefin Sans';
    overflow: hidden;
  }
@media screen and (min-width:800px){
      .navdesk{
        height:100px;
        display:flex;
        justify-content: space-between;
        margin: 0px 50px 0px 50px;
      }
      .menu-Link{
          font-size:18px;
          color: #29303b;
          margin: 0px 20px;
          text-decoration: none;
      }
      .menu-Link:hover{
          color:#7344f5;
      }
      .nav-ul{
          display:flex;
          margin: auto 0px;
      }
}