@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.navigation{
    background-color: #fff;
    position: sticky;
    top:0;
    font-family: 'Josefin Sans';
    overflow: hidden;
    z-index:999;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  }
@media screen and (min-width:800px){
      .navdesk{
        height:100px;
        display:flex;
        justify-content: space-between;
        margin: 0px 50px;
      }
      .menu-Link{
          font-size:18px;
          color: #29303b;
          margin: 0px 20px;
          text-decoration: none;
      }
      .menu-Link:hover{
          color:#7344f5;
      }
      .nav-ul{
          display:flex;
          margin: auto 0px;
      }
}
@media screen and (max-width:799px){
      .navmob{
        height:70px;
        display:flex;
        justify-content: space-between;
        margin: 0px 20px;
      }
      .bars{
        font-size:20px;
        margin:auto 0px;
        color: #444;
      }
      .menu-Link{
          font-size:15px;
          color: #f7f7f7;
          display: block;
          margin:15px 0px;
          text-decoration: none;
      }
      .nav-modal-mob{
        height:50vh;
        z-index:999;
        background: url('../../Images/bg-pattern.png');
        background-color: #444;
      }
      .logo{
        height:70px;
      }
      .nav-ul{
        width:150px;
      }
}