.navigation{
    background-color: #fff;
    position: sticky;
    top:0;
    overflow: hidden;
  }
@media screen and (min-width:800px){
      .navdesk{
        height:100px;
        display:flex;
        justify-content: space-between;
        margin: 0px 50px;
      }
      .logo{
          margin-left:20px;  
      }
      .menu-Link{
          font-size:18px;
          text-decoration: none;
          color: #29303b;
          margin: 0px 10px;
      }
      .nav-ul{
          display:flex;
          width: 400px;
          margin: auto 0px;
          /* background-color: #000; */
      }
}