.BrowseSearchBar{
  width:100%;
}
@media screen and (min-width:1280px){
  .Browse{
    margin:70px;
  }
}
@media screen and (max-width:1279px){
  .Browse{
    margin: 50px 20px;
  }
}
.BrowseSearchBar{
  outline: none;
  font-size:17px;
  padding:10px;
  font-weight: 600;
  border-radius:3px;
  border: none;
  margin: 10px 0px;
  
}
.BrowseSearchBar::placeholder{
font-weight: normal;
}
.BrowseTitle{
  font-size: 20px;
  color: #aaa;
}
.Browse select{
  display: inline-block;
  margin: 15px 5px 15px 0px;
  font-weight:600;
  font-size:17px;
  padding:5px 50px;
  outline: none;
  border: none;
  border-radius:3px;
}