.BrowseSearchBar{
  width:100%;
  outline: none;
  font-size:17px;
  padding:10px;
  font-weight: 600;
  border-radius:3px;
  border: none;
  margin: 10px auto;
  display: block;
  
}
.BrowseSearchBar::placeholder{
font-weight: normal;
}
.BrowseTitle{
  font-size: 20px;
  color: #aaa;
  margin:20px 0px 0px 5px;
  text-align: left;
}
.Browse select,option{
  margin: 15px 5px 15px 0px;
  font-weight:600;
  font-size:17px;
  padding:5px 0px;
  outline: none;
  border: none;
  border-radius:3px;
  width:200px;
}
.SelectWraper{
  display: inline-block;
}
@media screen and (min-width:1280px){
  .Browse{
    margin:70px;
  }
  .Browse select{
    margin:15px 20px 15px 0px;
  }
}
@media screen and (max-width:1279px){
  .Browse{
    margin: 50px 20px;
  }
  .BrowseSearchBar{
    width:90%;
    
  }
}
@media screen and (max-width:500px){
  .Browse select,option{
    width:300px;
  }
}
.Browse select{
appearance: none;
background: url(../Images/selectIcom.png) no-repeat left 94.5% center/15px 15px;
background-color: aliceblue;
padding: 10px;
}
.SelectsBrowse{
  text-align: center;
}