@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
  letter-spacing: 0.5px;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #343a40;
  color: #fff;
}
/* Center */
.CenterAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.CenterFlex {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
/* Logo */
.LogoLink {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  color: #00fa9a;
}
@media screen and (min-width: 1280px) {
  .LogoLink {
    font-size: 25px;
  }
  .LogoIcon {
    font-size: 50px;
  }
}
@media screen and (max-width: 1279px) {
  .LogoLink {
    font-size: 25px;
    margin-top:10px;
  }
  .LogoIcon {
    font-size: 35px;
  }
  /* Error Image */
  .ErrorImage{
    height: 300px;
  }
}
/* Error BTN */
.ErrorBtn{
  padding: 10px 50px;
  border-radius:3px;
  background-color: #282c34;
  color: #fff;
  font-weight:500;
  font-size:17px;
}
.ErrorBtn:hover{
opacity: .9;
}
/* Title */
.TitleDiv{
  padding:30px 35px;
  font-size: 25px;
  letter-spacing:.5px;
}
.TitleText{
  padding-bottom: 5px;
  border-bottom: 2px solid springgreen;
}
/* Footer */
.Footer{
  padding:20px 30px;
  text-align: center;
  background-color: #282c34;
  color: #cfcfcf;
}
.FooterContent{
  display: inline-block;
  margin: 30px;
}

.NavLinkFooter{
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
  margin: 20px 10px;
  color: #cfcfcf;
}
.NavLinkFooter:hover{
  color: #ffffff;
}
.FooterTitle{
  font-size: 18px;
  text-align: left;
  margin-bottom:10px;
}
.ContactFooterTitle{
  font-size:19px;
  color: #fff;
}
.SocialLinkFooter{
  font-size: 25px;
  display: inline-block;
  margin:15px 10px;
  color: #cfcfcf;
}
@media screen and (max-width: 1279px) {
  .FooterTitle{
  text-align: center;
  }
  .NavLinkFooter{
    margin:5px;
  }
  .FooterContent{
    margin:20px 10px;
 }
 .FooterLinkContent{
   width:85vw;
 }
}
/* FormHeader */
.FormHeader{
  font-size:30px;
  letter-spacing: 0.5px;
}
.Form{
  width:350px;
}
.Form::placeholder{
  opacity: .6;
}
.LoginForm{
  width:375px;
  margin:50px auto 20px auto;
}
@media screen and (max-width:1279px){
  .Form{
    width:260px;
  }
  .LoginForm{
    width:285px
  }
}
/* Signup Page Checkbox */
.checkBoxSignup{
  display: flex;
  justify-content:space-between;
}
.checkBoxSignup input{
margin: 7px 0px 0px 10px;
}
.checkBoxSignup p{
font-weight: 600;
width:90%;
}
