.LoginDiv{
    background-color: #fff;
    padding:100px 20px;
    color: #343a40  !important;
    text-align: center;
}
.FormLabel{
    text-align: left;
    font-weight:600;
    color: #444;
    margin-bottom:2px;
}
