/* Search Content */
.SearchWrap{
    width: 600px;
}
.SearchBox{
    height:42px;
    font-size:17px;
    padding: 0px 15px;
    outline: none;
    width:600px;
    border: none;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    color: #fff;
    background-color: #7980884d;
}
.SearchBox::placeholder{
    color: rgba(255, 255, 255, 0.555);
    font-weight: normal;
}
.SearchContent,.NavContentUL{
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchIcon{
    border: none;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    font-size:22px;
    height:42px;
    color: #343a40;
    background-color: springgreen;
    padding:0px 15px;
    cursor: pointer;
}
.SearchIcon:hover{
    opacity:.8;
}
.SearchIconWrap{
    margin-top:9px;
}
.NavLinkDesk{
    font-size:18px;
    color: #ffff;
    margin: 0px 15px;
}
.NavLinkDesk:hover{
color: springgreen;
}
/* Movies Modal */
.MoviesModal{
    position: absolute;
    padding: 30px 10px;
    width:500px;
    background-color: #282c34;
    top: 100px;
    left: 100px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.ModalLink{
    display: inline-block;
    margin:5px 10px;
}
.ModalLink{
    font-size: 17px;
    color: #dfdfdf;
    text-decoration: none;
}
.ModalLink:hover{
    color:springgreen;
}